<div id="navbar">
    <a href="/index.html">Home</a>
</div>

<style>
    body {
        margin-top: 0;
        padding-top: 0;
    }

    #navbar {
        padding: 15px 5px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 15px;
        border-bottom: solid darkred 2px;
        background: pink;
    }

    #navbar a {
        color: darkred;
        padding: 5px 7px;
        border: none;
    }
</style>